* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    color: #333;
    background-color: #f5f5f5;
  }
  
  header {
    background-color: #333;
    padding: 20px;
    color: #fff;
    text-align: center;
  }
  
  header h1 {
    font-size: 24px;
  }
  
  nav ul {
    list-style: none;
    margin-top: 10px;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  section {
    max-width: 1020px;
    margin: 20px auto;
    padding: 50px;
    background-color: #fff;
    text-align: center;
  }
  
  .movie img {
    max-width: 300px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .movie h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .reviews {
    text-align: left;
  }
  
  .reviews h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .review {
    margin-bottom: 20px;
  }
  
  .review h4 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  .div-criticas{

    width: 100%;
    height: 600px;
  
}

.titulo{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 38px;
    margin: 20px;
    
}

.criticas{
    width: 100%;
    height: 80%;
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: row;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 16px;
   
}

.critica{
    width: 300px;
    height: 400px;
    margin: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    box-shadow: 3px 3px 3px white;


}

.Usuario{
    margin-bottom: 30px;
}

.imagem-critica{
    margin-top: 30px;
}
.texto-critica{
    margin: 20px;
}
