/* styles.css */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000000; /* Mudança para preto */
}

#navbar #logo {
    height: 50px;
}

#navbar button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #ff0000; /* Mudança para vermelho */
    color: white; /* Texto do botão mudado para branco */
    cursor: pointer;
}

#navbar button:hover {
    background-color: #ff4747; /* Cor de hover dos botões mudada para um tom mais claro de vermelho */
}
